---
layout: archive
title: "Selected Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
<div class="wordwrap">
You can also find my articles on 
<a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.
</div>
{% endif %}

{% include base_path %}

{% assign pubs = site.publications | sort: "date" | reverse %}
{% assign count = pubs | size %}

{% for post in pubs %}
<p>({{ count }}) {{ post.citation }}</p>
{% assign count = count | minus: 1 %}
{% endfor %}
